/*Importações*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

@font-face {
    font-family:'Glamora';
    src: url("../../fonts/GLAMORA.otf") format('opentype');
}

/*Classes de config:*/
.bold{
    font-weight: 700;
    padding-right: 5px;
}

.divider{
    border-bottom: 1px solid white;
}

.double-divider{
    border-bottom: 4px solid white;
}


/*Configs Gerais*/
body{
    font-family: 'Courier New', Courier, monospace;
    background-image: url("../../images/fundo-site.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Playfair Display', serif;;
}

h1,h3{
    font-family: 'Glamora',times, sans-serif;
    font-size: 28px;
}

h2{
    font-size: 22px;
    text-align: center;
    font-family: 'Glamora',times, sans-serif;
}

header{
    display: flex;
    margin: 10px auto 0px auto;
    padding: 5px;
    width: 85%;
    background-color: rgba(0, 0, 0, 0.5);
}

.header-left{
    display: flex;
    margin-left: 30px;
    width: 40%;
    border-right: 1px double #c5c5c5;
}

.header-left > img{
    width: 100px;
}

#title{
    margin:20px 0px 0px 10px;

}

.header-left > p {
    margin-left: 39px;
}

.nav-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    height: 100%;
    margin: auto 15px auto auto ;
}

.nav-menu > a{
    color: white;
    border-bottom: 1px solid white;
    font-size: 17px;
}

.container{
    display: flex;
    justify-content: space-around;
    width: 85%;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.goulash-stew{
    margin-top: 20px;
    width: 40%;
}

.goulash-stew > img{
    width: 100%;
}

.nutritional-info{
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    width: 40%;
    margin-top: 20px;
}

.nutritional-info > span{
    display: block;
}

